body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


@font-face {
    font-family: "recoleta";
    src: local("recoleta"),
     url("./fonts/recoleta/Recoleta-Regular.ttf") format("ttf");
    }
@font-face {
    font-family: "recoleta-bold";
    src: local("recoleta-bold"),
     url("./fonts/recoleta/Recoleta-Bold.ttf") format("ttf");
    }
   

@font-face {
      font-family: "santral";
      src: local("santral"),
       url( "./fonts/santral/Santral-Book.otf") format("otf");
      }
@font-face {
      font-family: "santral-bold";
      src: local("santral-bold"),
       url( "./fonts/santral/Santral-Bold.otf") format("otf");
      }